Doesn't support 'name=' without double quotes

.NET System.Net.Http sends `form-data; name=` without double quotes. e.g. `form-data; name=upload_file_minidump`. This is allowed by the HTTP spec, and double quotes are only marked as `SHOULD` when it contains any special characters (RFC 2183, section 2.? see https://github.com/dotnet/runtime/issues/24932#issuecomment-580858339, https://github.com/dotnet/runtime/issues/26585#issuecomment-412222911).

This library doesn't handle this:

https://github.com/rousan/multer-rs/blob/541e5ea46d0bb3891cec0efeff27811f03e61995/src/constants.rs#L21

cc getsentry/symbolicator#544